@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Anton-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/BebasNeue-Regular.ttf) format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body:has(.home) {
  scroll-behavior: smooth !important;
  scroll-padding-top: 6rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl {
  @apply font-bebas;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply pt-2 pb-4;
}

.project-description {
  p {
    @apply pb-4;
  }
}

#projects,
#skills {
  scroll-behavior: smooth;
}

.codeblock {
  scrollbar-width: none;
}
